<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIREFORM</title>
</head>

<body>
    <header></header>
    <main>
        <h1>Formulario Auth Firebase</h1>
        <form action="/register" method="post">
            <ul>
              <li>
                <label for="email">Dirección de email:</label>
                <input type="email" name="email" id="email" required>
                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" required>
              </li>
            </ul>
            <button type="submit" class="btn">Registrarse</button>
          </form>
    </main>
    <footer></footer>
</body>

</html>